<div>
    <p class="center text-xl p-4">Reactive Form</p>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="name">Name:</label>
              <input id="name" type="text" formControlName="name" />
              <div *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched">
                <small *ngIf="loginForm.get('name')?.errors?.['required']">
                  Name is required.
                </small>
                <small *ngIf="loginForm.get('name')?.errors?.['minlength']">
                  Name must be at least 3 characters long.
                </small>
              </div>
            </div>
            <div>
              <label for="password">Password:</label>
              <input id="password" type="password" formControlName="password" />
              <div
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
              >
                <small *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required.
                </small>
                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
                  Password must be at least 6 characters long.
                </small>
              </div>
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Submit</button>
          </form>
    </div>
</div>

<div class="flex flex-wrap">
  <div *ngFor="let item of productData" class="p-4 m-2 border-gray-500 border-2 w-32">
  <div>
    <p>{{item.userId}}</p>
    <p>{{item.title}}</p>
  </div>
</div>
</div>


<!-- <div>
  <table class="table-auto">
    <thead>
      <tr>
        <th *ngFor="let key of users[0] | keyvalue">{{key.key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
      </tr>
    </tbody>
  </table>
</div> -->